bios/bios.bin
bios/bios.exe
bios/bios.hex
bios/bios.map
bios/bios.rom
bios/patb.inc
bios/*.obj
exe2rom/exe2rom.exe
exe2rom/exe2rom.obj
mon88/mon88.bin
mon88/mon88.hex
mon88/mon88.lst
startup.hex
startup.lst
